<mat-card class="sign-in-wrapper dark-theme">
  <form class="sign-in-form" [formGroup]="form">
    
    <mat-card-title class="title">Todos</mat-card-title>

    <mat-card-content>
      <mat-form-field class="form-wrapper">
        <input class="bg-input" matInput placeholder="Email" formControlName="username">
        <mat-error *ngIf="form.get('username').hasError('email') && !form.get('username').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form.get('username').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-wrapper">
        <input matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="form.get('password').hasError('minlength')" class="validation">
          The password must be at least 4 characters long
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      
      <mat-card-actions>
        <button mat-raised-button class="sign-in-button" (click)="doSignIn()" [disabled]="form.invalid">
          <ng-template [ngIf]="!isBusy">Sign-In</ng-template>
          <ng-template [ngIf]="isBusy">Sign-In Please weat...</ng-template>
        </button>
      </mat-card-actions>
      
    </mat-card-content>
  </form>
</mat-card>