<div class="sign-in-wrapper">
    <form [formGroup]="form">
      <h1>Todos</h1>
      <input type="text" formControlName="username" placeholder="Your username">
      <div *ngIf="form.get('username').invalid && form.get('username').touched" class="validation">
        <small *ngIf="form.get('username').errors.required">
          Поле ввода требует заполнения
        </small>
        <small *ngIf="form.get('username').errors.invalidSymbol">
          Символ {{form.get('username').value}} недопустим
        </small>
      </div>
      <input type="password" formControlName="password" placeholder="Your password">
      <div *ngIf="form.get('password').invalid && form.get('password').touched" class="validation">
        <small *ngIf="form.get('password').errors.required">
          Поле ввода требует заполнения
        </small>
        <small *ngIf="form.get('password').errors.minlength">
          Пароль должен быть не менее 4 символов
        </small>
     </div>
      <button (click)="doSignIn()" [disabled]="form.invalid">
        <ng-template [ngIf]="!isBusy" >Войти</ng-template>
        <ng-template [ngIf]="isBusy">Вход в систему, пожалуйста, подождите...</ng-template>
      </button>
    </form>
  </div>
  