<div class="sign-in-wrapper">
  <form class="sign-in-form" [formGroup]="form">
    <h1 class="title">Todos</h1>

    <div class="form-wrapper">
      <input class="form-input" type="text" formControlName="username" placeholder="Username">

      <div *ngIf="form.get('username').invalid && form.get('username').touched" class="validation">
        <small class="text-error" *ngIf="form.get('username').errors.required">
          Username is required.
        </small>
        <small class="text-error" *ngIf="form.get('username').errors.invalidSymbol">
          Symbol {{form.get('username').value}} invalid
        </small>
      </div>
    </div>

    <div class="form-wrapper">
      <input class="form-input" type="password" formControlName="password" placeholder="Password">

      <div *ngIf="form.get('password').invalid && form.get('password').touched" class="validation">
        <small class="text-error" *ngIf="form.get('password').errors.required">
          The password field is required
        </small>
        <small class="text-error" *ngIf="form.get('password').errors.minlength">
          The password must be at least 4 characters long
        </small>
      </div>
    </div>
    
    <button class="sign-in-button" (click)="doSignIn()" [disabled]="form.invalid">
      <ng-template [ngIf]="!isBusy">Sign-In</ng-template>
      <ng-template [ngIf]="isBusy">Sign-In Please weat...</ng-template>
    </button>
  </form>
</div>