@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Playfair+Display&family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
}

.sign-in-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  height: 98vh;
  background-color: rgb(240, 240, 240);
  color: #000;

  .sign-in-form {
    width: 350px;

    .title {
      font-size: 100px;
      font-weight: 100;
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      letter-spacing: 0.1rem;
      margin-bottom: 0.5rem;
      text-transform: capitalize;
      color: rgba(255, 208, 0, 0.808);
    }

    .sign-in-button {
      display: block;
      background-color: rgba(112, 218, 63, 0.479);
      width: 100%;
      padding: 16px;
      font-size: 20px;
      cursor: pointer;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.315), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 64px;
      border: none;
    }

    .form-input {
      display: block;
      width: 100%;
      padding: 16px;
      border: none;
      font-style: italic;
      background: rgba(0, 0, 0, 0.003);
      box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
      margin: 0 0 16px 0;
      font-size: 20px;
      border-left: 2px solid transparent;

      &.ng-touched.ng-invalid {
        border: 2px solid red;
      }

      &.ng-valid {
        border: 2px solid green;
      }

      &.ng-untouched {
        border: 2px solid grey;
      }
    }

    .validation {
      color: red;
    }

    .text-error {
      color: red;
      font-size: smaller;
    }
  }
}