<app-navbar></app-navbar>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, reiciendis.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero placeat voluptate pariatur facilis cupiditate,
        beatae laborum. Molestiae earum accusantium laborum nobis quisquam laudantium impedit facilis?</p>
</div>

<div class="row">
    <div class="card">
        <img src="https://amazingpics.net/content/Misc/cars/car%20picture%20146.jpg" alt="Yahor" style="width:50%">
        <div class="container">
            <h2>Yahor Vydrenka</h2>
            <p class="title">JS/Angular</p>
            <p>Innowise</p>
            <p>zelt378@gmail.com</p>
            <p><button class="button">Contact</button></p>
        </div>
    </div>
</div>