<div class="line"></div>
<ul>
    <li appZoom [zoom]="20"><a class="category-link" appColor [color]="'red'" >Category 1</a></li>
    <li appZoom [zoom]="20"><a class="category-link" appColor [color]="'blue'">Category 2</a></li>
    <li appZoom [zoom]="20"><a class="category-link" appColor [color]="'DarkOrange'">Category 3</a></li>
    <li appZoom [zoom]="20"><a class="category-link" appColor [color]="'Lime'" >Category 4</a></li>
    <li appZoom [zoom]="20"><a class="category-link" appColor [color]="'Fuchsia'" >Category 5</a></li>
</ul>