
<!-- <div class="container">
    <h2>{{ todo.title | uppercase }}</h2>
    <div><span>Id: </span>{{ todo.id }}</div>
    <div>
      <label for="todo-name"><h3>Todo title:</h3></label>
      <input id="todo-name" type="text" [formControl]="control" placeholder="Todo title" />
    </div>
    <button (click)="goBack()">Назад</button>
    <button (click)="save()">Сохранить </button>
</div> -->
  
<form [formGroup]="form" (ngSubmit)="addTodo()">
  <div class="form-control">
    <input type="text" placeholder="Title" formControlName="todoTitle">
    <div *ngIf="form.get('todoTitle').invalid && form.get('todoTitle').touched" class="validation">
      <small *ngIf="form.get('todoTitle').errors.required">
        The title is required
      </small>
      <small *ngIf="form.get('todoTitle').errors.invalidSymbol">
        Символ {{form.get('todoTitle').value.symbolRegex}} недопустим
      </small>
    </div>

    <textarea class="input-description" type="text" placeholder="Description" formControlName="todoDescription"></textarea>
    <div *ngIf="form.get('todoTitle').invalid && form.get('todoTitle').touched" class="validation">
      <small *ngIf="form.get('todoTitle').errors.required">
        The description is required
      </small>
      <small *ngIf="form.get('todoTitle').errors.invalidSymbol">
        Символ {{form.get('todoTitle').value.symbolRegex}} недопустим
      </small>
    </div>
  </div>
  <div class="add-control">
    <button type="submit" class="add-button" [disabled]="form.invalid">Add</button>
  </div>
</form>
