<div class="form-control">
  <form [formGroup]="form" (ngSubmit)="OnSubmit($event)">
    <input type="text" placeholder="Title" formControlName="title">
    <div *ngIf="form.get('title').invalid && form.get('title').touched" class="validation">
      <small *ngIf="form.get('title').errors.required">
        The title is required
      </small>
      <small *ngIf="form.get('title').errors.invalidSymbol">
        Symbol {{form.get('title').value.symbolRegex}} is not allowed
      </small>
    </div>

    <textarea class="input-description" type="text" placeholder="Description" formControlName="description"></textarea>
    <div *ngIf="form.get('description').invalid && form.get('description').touched" class="validation">
      <small *ngIf="form.get('description').errors.invalidSymbol">
        Symbol {{form.get('description').value.symbolRegex}} is not allowed
      </small>
    </div>
    <select *ngIf="editMode" formControlName="category">
      <option *ngFor="let category of categories" [ngValue]="category" (change)="changeCategory($event)">{{category}}</option>
    </select>
    <div class="add-control">
      <button type="submit" class="add-button" [disabled]="form.invalid">
        {{ !editMode ? 'Add' : 'Save' }}
      </button>
      <button *ngIf="editMode" type="submit" class="add-button"><a routerLink="/todo">Go back</a></button>
    </div>
  </form>
</div>
  