@import url('https://fonts.googleapis.com/css?family=Roboto');

button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  margin-top: 1rem;

  &:disabled {
    background-color: rgba(184, 181, 181, 0.788);
    color: rgb(212, 212, 212);
    cursor: auto;
  }
}

.back-link {
  text-decoration: none;
  color: black;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  

  .input-description {
    resize: none;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
  }

  input {
    &.ng-valid {
      border-left: 2px solid green;
      padding: 0.5rem;
    }
  }
  
  .validation {
    color: red;
  }

  .add-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 1rem;
  }
}

.form-container > * {
  width: 100%;
}
