@import url('https://fonts.googleapis.com/css?family=Roboto');

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
  font-weight: 700;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.add-button {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  margin-top: 1rem;

  &:hover {
    background-color: #4CAF50;
    color: white;
  }

  &:disabled {
  background-color: rgba(145, 142, 142, 0.788);
  color: rgb(212, 212, 212);
  cursor: auto;
  border: black 1px solid;
  }
}

input {
  &.ng-touched.ng-invalid {
    border: 2px solid red;
  }

  &.ng-valid {
    border:2px solid green;
  }

  &.ng-untouched {
    border: 2px solid grey;
  }
}

.validation {
  color: red;
  font-weight: bold;
  margin-left: 47px;
}

.input-description {
  resize: none;
  height: 200px;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
}

.form-control {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.5rem;
}

.back-link {
  text-decoration: none;
  color: black;
}