<div class="row">
  <div class="side">
    <app-todo-search></app-todo-search>
    <app-todo-categories></app-todo-categories>
  </div>
  <div class="main">
    <div class="container">
      <app-todo-detail></app-todo-detail>

      <p *ngIf="error; else todosBlock" class="error">{{error}}</p>

      <ng-template #todosBlock>
        <div *ngIf="!loading; else loadingBlock">
          <div *ngIf="(todos$ | async)?.length; else noTodos">
            <div [routerLink]="['/todo', todo.id]" class="card" *ngFor="let todo of todos$ | async | filter:searchValue"
              [appColor]="todo.category">
              <button class="btn btn-danger" (click)="deleteTodo(todo.id, $event)">X</button>
              <div class="card-body">
                <h3 [class.completed]="todo.completed">{{todo.title | uppercase}}</h3>
                <p [class.completed]="todo.completed">{{todo.description}}</p>
              </div>
              <div>
                <div class="edit-button">
                  <div>Category: {{todo.category}}</div>
                  <div>
                    <button class="btn"><a [routerLink]="['/todo', todo.id]">Edit</a></button>
                    <button class="btn" (click)="completeTodo(todo.id, $event)">Complete</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <ng-template #noTodos>
            <p>No tasks</p>
          </ng-template>
        </div>

        <ng-template #loadingBlock>
          <p>Loading...</p>
        </ng-template>
      </ng-template>
    </div>
  </div>