.row {
  display: flex;
  flex-wrap: wrap;

  .side {
    display: flex;
    flex-direction: column;
    justify-content: top;
    position: sticky;
    padding: 20px;
    top: 7vh;
    z-index: 1;
    height: 100vh;
    left: 0;
  }

  .main {
    display: flex;
    float: right;
    width: 70%;
    align-items: right;
    flex: 70%;
    padding: 20px;
  }

  .btn-danger {
    background: #ffffff;
    float: right;
    color: red;
    font-weight: 900;
    font-size: 1.2rem;
    border: none;
    padding: 0 1rem;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      border: 1px solid red;
    }
  }

  .card-body {
    h3.completed {
      text-decoration: line-through;
    }

    p {
      margin-top: 1rem;
      
      &.error {
        color: red;
      }

      .completed {
        text-decoration: line-through;
      }
    }
  }

  .edit-button {
    display: flex;
    justify-content: space-between;

    .category {
      color: rgb(77, 77, 77);
      font-weight: bold;
      margin-bottom: 10px;
      margin-left: 8px;
    }

    .btn.btn-completed {
      background: #4caf50;
    }

    .edit-link {
      text-decoration: none;
      color: #fff;
    }
  }
}
