  .row {
    display: flex;
    flex-wrap: wrap;

    .side {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: top;
      background-color: #f1f1f1;
      padding: 20px;
      top: 10;
      z-index: 10;
      height: 100vh;
      left: 0;
    }

    .main {
      display: flex;
      float: right;
      width: 70%;
      align-items: right;
      flex: 70%;
      background-color: white;
      padding: 20px;
    }

    .btn.btn-danger {
      background: #dc3545;
      color: #fff;
      float: right;
    }

    .card-body {
      
      h3.completed {
        text-decoration: line-through;
      }
  
      p {
        &.error {
          color: red;
        }
    
        .completed {
          text-decoration: line-through;
        }
      }
    }

    .edit-button {
      display: flex;
      justify-content: space-between;
  
      .category {
        color: rgb(77, 77, 77);
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .edit-link {
        text-decoration: none;
        color: #fff;
      }
    
    }
  }