<div class="row">
  <div class="side">
    <app-todo-search></app-todo-search>
    <app-todo-categories></app-todo-categories>
  </div>
  <div class="main">
    <div class="container">
      <app-todo-detail></app-todo-detail>

      <p *ngIf="error; else todosBlock" class="error">{{error}}</p>

      <ng-template #todosBlock>
        <div *ngIf="!loading; else loadingBlock">
          <div *ngIf="todos.length; else noTodos">
            <div routerLink="/todo/{{ todo.id }}" class="card" *ngFor="let todo of todos | filter:searchValue">
              <button class="btn btn-danger" (click)="deleteTodo(todo.id)">X</button>
              <div class="card-body">
                <h3 [class.completed]="todo.completed">{{todo.title | uppercase}}</h3>
                <p [class.completed]="todo.completed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porrso
                  facilis iste autem obcaecati tempore
                  optio ad aperiam ut repellat eveniet id numquam, enim delectus nobis expedita? Magni maxime, commodi
                  sint, autem, quas odit deserunt laudantium inventore maiores soluta doloremque! In quaerat eaque fuga
                  cumque voluptate voluptatem minima officiis veniam atque?</p>
              </div>
              <div>
                <div class="edit-button">
                  <div>{{todo.category}}</div>
                  <div>
                    <button class="btn">Edit</button>
                    <button class="btn" [disabled]="todo.completed" (click)="completeTodo(todo.id)">Complete</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <ng-template #noTodos>
            <p>No tasks</p>
          </ng-template>
        </div>

        <ng-template #loadingBlock>
          <p>Loading...</p>
        </ng-template>
      </ng-template>
    </div>
  </div>